# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
test-results/.last-run.json
test-results/app-TweetPrint-E2E-should--4c136-sable-button-based-on-input-chromium/error-context.md
test-results/app-TweetPrint-E2E-should-allow-converting-another-tweet-chromium/error-context.md
test-results/app-TweetPrint-E2E-should-handle-Enter-key-to-submit-chromium/error-context.md
test-results/app-TweetPrint-E2E-should-load-and-preview-a-valid-tweet-chromium/error-context.md
test-results/app-TweetPrint-E2E-should-show-error-for-invalid-URL-chromium/error-context.md
test-results/app-TweetPrint-E2E-should-show-error-for-tweet-not-found-chromium/error-context.md
playwright-report
test-results
